<footer class="p-10 bg-gray-800 text-white">
  <div class="text-center mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
    <h3 class="text-normal italic leading-6">We are grateful for the grand privilege to "Go ... and make disciples of
      all the nations". (Matt. 28:19, 20) However, the end <br> of this system of things is getting closer each passing day.
      But until the very end, we are determined to keep returning to those interested, watering the seeds of truth that
      we have planted. (1 Cor. 3:6-9) Therefore, we strive to maintain an organized record of each individual.</h3>

    <p class="mt-8">Copyright © 2022 - All right reserved</p>
  </div>
</footer>

</body>

</html>