<%- include('partials/header') -%>

<div class="bg-transparent">
  <div class="mx-auto max-w-5xl px-6 lg:px-8 pt-12 pb-14 sm:py-12 md:py-10 lg:py-8 flex items-center justify-between">
    <div class="font-semibold">
      <span class="block text-sm md:text-lg lg:text-xl ">Hi <%= user.firstName %>,</span>
      <span class="block text-xl md:text-2xl lg:text-3xl ">Good Morning!</span>
    </div>
    <div class="flex">
      <div class="md:ml-3 inline-flex rounded-md shadow">
        <a href="/profile" class="flex items-center justify-center rounded-lg border border-indigo-100 bg-white px-3 py-2 text-xs sm:text-sm md:text-base font-medium text-indigo-600 hover:bg-indigo-50">Back to Profile</a>
      </div>
    </div>
  </div>
</div>

<!-- start of feed -->
<div class="mx-auto max-w-5xl px-6 lg:px-8 py-8">
  <div class="card w-96 bg-base-100 shadow-xl">
    <!-- <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure> -->
    <div class="card-body">
      <h2 class="card-title">
        Shoes!
        <div class="badge badge-secondary">NEW</div>
      </h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">Fashion</div> 
        <div class="badge badge-outline">Products</div>
      </div>
    </div>
  </div>
</div>

      

<%- include('partials/footer') -%>