<%- include('partials/header') -%>

<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8">
    <div class="tracking-tight sm:text-4xl">
      <span class="text-1xl text-gray-600">Hi John!</span>
      <span class="text-3xl font-bold text-gray-900">Good Morning!</span>
    </div>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="/profile" class="inline-flex items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-indigo-600 hover:bg-indigo-50">Back to Profile</a>
      </div>
    </div>
  </div>
</div>

<!-- start of feed -->
<div class="card w-96 bg-base-100 shadow-xl">
  <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">
      Shoes!
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Fashion</div> 
      <div class="badge badge-outline">Products</div>
    </div>
  </div>
</div>
      

<%- include('partials/footer') -%>